<% content_for :title, "Publish Pin" -%>

<div class='container'>
  <div class='row'>
    <div class='col-md-12'>
      <div class="page-header">
        <h2>
          Publish a pinterest pin
          <%= image_tag "spinner-arrows.gif", :class => "spinner", :id => 'agent-spinner' %>
        </h2>
      </div>

      <div id="agent-form">
        <%= form_tag publish_pin_agents_path , :multipart => true do %>
          <div class="row">
            <div class="col-md-6">
              <div class="row">

                <div class="col-md-12">

                  <%= hidden_field_tag "user_name", @user_name%>

                  <div class="form-group type-select">  
                    <%= label_tag :Board %>
                    <%= select_tag "Boards", options_for_select(@boards), :prompt => "Please select board", class: 'form-control' %>
                  </div>

                  <div class="form-group">  
                    <%= label_tag :Note %>
                    <%= text_field_tag :note, "" , class: 'form-control' %>
                  </div>

                  <div class="form-group">  
                    <%= label_tag :Link %>
                    <%= text_field_tag :link, "", class: 'form-control' %>
                  </div>

                  <div class="form-group">
                    <%#= label_tag :Pin %>
                    <%#= file_field_tag :file %>

                    <%= label_tag :image_url %>
                    <%= text_field_tag :image_url, "", class: 'form-control' %>
                  </div>

                  <div class="actions">
                      <%= submit_tag 'Publish', :class => "btn btn-primary"  %>
                  </div>
                </div>
              </div>
            </div>
          </div>
        <% end %>
      </div>
      <hr>

      <div class="row">
        <div class="col-md-12">
          <%= link_to icon_tag('glyphicon-chevron-left') + ' Back'.html_safe, agents_path, class: "btn btn-default" %>
        </div>
      </div>
    </div>
  </div>
</div>




